* {
    box-sizing: border-box;
}
body{
    font-family: ;
    background-color: ;
}

.center {
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*width: 50%;*/
}

h1 {
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p {
    font-family:sans-serif;
    font-size: 13px;
    max-width: 360px;
    padding-left: 10px;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #ffffff;
}

.versionMarker {
    font-family: monospace;
    font-size: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

navButton {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li {
  float: left;
  display: inline;
/* Add a gray right border to all list items, except the last item (last-child) */
  border-right: none;
}

li:last-child {
  border-right: none;
}

li a {
/* Needed for navbar, creates blocks */
  display: block;
/* Text formatting */
  color: white;
  text-align: center;
/* Defines block padding */
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #FF0000;
}

.resourceList {
    font-family: sans-serif;
    background-color: #FFFFFF;
    text-align: center;
}

.a-resourceList {
    font-family: sans-serif;
    color: #000000;
    display: grid;
    padding: 5px 5px;
}

.a-resourceList:hover{
    background-color: red;
    color: white;
}

/* .navigation {
    background-color: black;
    padding-top: 5px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
} */

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
 /* background: white; */
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}